body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color: #000;
    text-align: center;
}


#pic1 {
    height: 320px;
    transform-origin: center top;
    animation: swing 3.3s ease-in-out infinite alternate;
}
@keyframes swing {
    0% {
        transform: rotate(18deg);
    }
    100% {
        transform: rotate(-18deg);
    }
}
.wrapper {
    position: absolute;
    inset: 0;
    z-index: 9999;
    background-color: blanchedalmond;
    display:grid;
    place-items: center;
    transition: opacity 25ms, visibility 1s;
}
.fade {
    opacity: 0;
    visibility: hidden;
}
.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid antiquewhite;
    border-radius: 50%;
    border-top-color:darkgoldenrod;
    animation: spin 2s ease-in infinite;
    -webkit-animation: spin 2s ease-in infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg);}
}