body {
    margin: 0;
    padding: 0;
    background-color: black;
    color :blanchedalmond;
    text-align: center;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



#pic1 {
    
  height: auto;
  max-width: 100%;
  transform-origin: center top;
  -webkit-filter: drop-shadow(1px 35px 300px rgb(202, 154, 72));
  filter: drop-shadow(1px 35px 300px rgb(202, 154, 72));
  animation: swing 3.3s ease-in-out infinite alternate;
}
@keyframes swing {
  0% {
      transform: rotate(18deg);
  }
  100% {
      transform: rotate(-18deg);
  }
}

.wrapper {
    position: absolute;
    inset: 0;
    z-index: 9999;
    background-color: blanchedalmond;
    display:grid;
    place-items: center;
    transition: opacity 25ms, visibility 1s;
}
.fade {
    opacity: 0;
    visibility: hidden;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid darkgoldenrod;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: darkgoldenrod;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  .social {
    background: transparent;
    padding: 16px 24px;
    position: relative;

  }
